<app-menu-navbar></app-menu-navbar>
<div class="container-fluid mt-5">
    <div class="row g-0">
        <!-- -------------partie gauche----------- -->
        <div class="col-12 col-md-4 left">
            <h1>Sikasso/Mali</h1>
            <ul>
                <div>
                    <li class="puce">Superficie:</li>
                <p>1234556m^2</p>
                </div>
                <div>
                    <li class="puce">Domaine d’activité::</li>
                <p>Pêche</p>
                </div>
                <div>
                    <li class="puce">Nombres populations::</li>
                <p>2 habitants</p>
                </div>
                <div>
                    <li class="puce">Langue majoritairement
                         parlée::</li>
                <p>Bambara</p>
                </div>
            </ul>
        </div>
        <!-- -------------partie gauche----------- -->
        <div class="col-12 col-md-8 bg-danger">
            <img src="../../assets/image/istockphoto-458467065-612x612.jpg "  alt="">
        </div>
    </div>
</div>
