<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <a href="#" class="navbar-brand">web</a>
        <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
            aria-controls="navbarNav" aria-expanded="false" aria-lable="Toggle Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Région</a>
                </li>

            </ul>

        </div>

    </div>
</nav>
<!-- -----------------caroussel--------------------- -->



<!-- ------------Banner image------------ -->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <h1 class="text-white">web zone</h1>
    </div>

</div>
<!-- ------------Main content Area------------ -->
<div class="container my-5 d-grid gap-5">
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste eveniet accusamus quos! Eius libero
            aut dicta quisquam harum voluptate dolore eligendi consequuntur sequi aliquam quasi, eveniet et repudiandae.
            Debitis.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste eveniet accusamus quos! Eius libero
            aut dicta quisquam harum voluptate dolore eligendi consequuntur sequi aliquam quasi, eveniet et repudiandae.
            Debitis.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste eveniet accusamus quos! Eius libero
            aut dicta quisquam harum voluptate dolore eligendi consequuntur sequi aliquam quasi, eveniet et repudiandae.
            Debitis.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste eveniet accusamus quos! Eius libero
            aut dicta quisquam harum voluptate dolore eligendi consequuntur sequi aliquam quasi, eveniet et repudiandae.
            Debitis.
        </p>
    </div>
</div>

