<div class="container mt-5 text-align-items ">
    <div class="affacer ">
        <div class="row borderContour">
            <!-- -----------------partie gauche------------------------ -->
            <div class="col-12 col-md-6 d-flex align-items-center bgRigth cardGaucheContour">
                <div class="row">
                    <h1 class="display-5 text-center pt-4">Bienvenue sur</h1>
                    <img class="img-fluid logo" src="../../assets/image/logo.png" alt="logo Mali tourist">
                    <p class="text-center pt-2">
                        Votre application qui va vous faire découvrir les régions du Mali.Votreapplication qui va vous
                        faire découvrir les régions du Mali.Votreapplication qui va vous faire découvrir les régions du
                        Mali.Votreapplication qui va vous faire découvrir les régions du Mali.Votre application qui va
                        vous faire découvrir les régions du Mali.
                    </p>
                </div>
            </div>
            <!-- -----------------partie droite------------------------ -->
            <div class="col-12 col-md-6">
                <div class="row py-3 mx-2">
                    <div class="allRight">
                        <h1 class="mb-3 pt-3 text-uppercase " >Connexion</h1>
                        <!-- -----------------formulaire------------------------ -->
                        <form>
                            <div class="col-12 col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputPseudo" class="form-label">Pseudo</label>
                                    <input type="text" class="form-control" id="exampleInputPseudo">
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                            <div class="text mt-4">
                                <a href="" style="color: #ECBE23; " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <p class="text-center" >Créer un compte ?</p>
                                </a>
                            </div>
                            <div class="col-12 col-md-12 ">
                                <div class="btnLogin mt-4">
                                    <button type="submit" class="btn btnConnexion">Connexion</button>
                                </div>
                            </div>
                        </form>
                        <div class=" pt-3">
                            <hr class="tirait" style="width: 40%;">
                            <p class="barP ">Vous connecter avec </p>
                        </div>
                        <!-- -----------------Icons------------------------ -->
                        <div class="row mb-3">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <i class="bi bi-facebook sizeIconsFacebook"></i>
                                </div>
                                <div>
                                    <i class="bi bi-google sizeIconsGoogle"></i>
                                </div>
                                <div>
                                    <i class="bi bi-github sizeIconsGitHub"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------pop up inscription------------------------ -->
<!-- ==================================Pour inserer le pop up ========================
===================================================================================-->

<!-- Aller sur la documentation officiel de boostrap puis y copier le code qui se trouve dans modal(que tu tape dans la barre de recherche)
dans mon cas le pop up doit apparaitre lorsque on clic sur: créer un compte? donc copier le:
data-bs-toggle="modal" data-bs-target="#exampleModal qui se trouve dans la balise button et le coller dans la balise a -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Créer un compte ?
  </button> -->
  
  <!-- Modal -->
  <div class="row">
    <div class="col-12 col-md-4 " >
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-center textPop" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirmer</button>
                  <button type="button" class="btn btn-primary">Annuler</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>