<app-menu-navbar ></app-menu-navbar>
<div style="background-color: #033F3F;">
    
<div class="container-fluid">
    <figure>
        <img class="img-fluid" src="../../assets/image/Rectangle 236.jpg" alt="">
    </figure>
    <div class="container">
        <div class="row offset-2 gx-2">
            <div class="col-12 col-md-3 bg-dark ">
                <div class="text pt-2">
                    <p class="fs-3 text-white text-center">Région</p>
                    <p class="fs-2 text-white text-center">50</p>
                </div>
            </div>
            <div class="col-12 col-md-3 bg-dark ">
                <div class="text pt-2">
                    <p class="fs-3 text-white text-center">La région la plus peuplée</p>
                    <p class="fs-2 text-white text-center">Sikasso</p>
                </div>
            </div>
            <div class="col-12 col-md-3 bg-dark ">
                <div class="text pt-2">
                    <p class="fs-3 text-white text-center">Utilisateurs</p>
                    <p class="fs-2 text-white text-center">50</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center">Les Régions du Mali</h1>
    <div class="row">
        <div class="col-12 col-md-2">
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <div class="col-12 col-md-2">
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <div class="col-12 col-md-2">
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>

   <div class="container">
    <div class="row ">
        <div class="col-12 col-md-6 bg-danger">
            <article class="mt-4">
              <div class="row ">
                <figure class="col-12 col-md-6">
                  <img src="../../assets/image/1.png" class="img-fluid" alt="image">
                </figure>
                <div class=" col-12 col-md-6">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa voluptatum, debitis ad aliquid porro necessitatibus dolore eius animi incidunt deleniti iure officia! Eius accusantium a hic optio?
                </div>
              </div>
            </article>
        </div>    
        <div class="col-12 col-md-6 bg-light">
            <article class="mt-4">
              <div class="row gx-4">
                <figure class="col-12 col-md-6">
                  <img src="../../assets/image/1.png" class="img-fluid" alt="image">
                </figure>
                <div class=" col-12 col-md-6">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa voluptatum, debitis ad aliquid porro necessitatibus dolore eius animi incidunt deleniti iure officia! Eius accusantium a hic optio?
                </div>
              </div>
            </article>
        </div>    
    </div>
   </div>
    
   
</div>

</div>